* {
  margin: 0;
}

.app {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f3f4f6;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.app__testStarted {
    padding-top: 90px;
    padding-bottom: 50px;
}
