.card {
  position: relative;
  margin-top: 30px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  padding: 60px;
  border-radius: 3px;
}

.card__chinese-character {
  font-size: 5rem;
  font-weight: 700;
}

.card--clicked {
  background-color: #eee;
}

.card__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}


/* This media query applies when the device width is 600px or less */
@media (max-width: 600px) {
  .card__row {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    padding: 30px;
  }
}


.def-button {
  position: absolute;
  bottom: 0;
}