.banner {
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner__title {
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: rgb(17 24 39);
}

.banner__description {
    margin-bottom: 20px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(55 65 81);
}

.banner__start-button {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.5rem;
    background-color: #111827;
    color: #f3f4f6;
    border-radius: 6px;
    font-weight: 500px;
    font-size: 1.125rem;
}
